:root {
  --cyan: hsl(179, 62%, 43%);
  --darkcyan: hsl(187, 62%, 43%);
  --yellow: hsla(71, 73%, 54%, 0.493);

  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

*{
  box-sizing: border-box;
}

html {
  /* background: url(images/favicon-32x32.png) repeat center center fixed; */
  /* -webkit-background-size: repeat; */
  /* -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

html,body, p {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  /* line-height: 32px; */
}

.smt {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.component {
  width: 90%;
  max-width: 300px;
  margin: 5px auto;
  box-shadow: 0px 0px 2px rgb(44, 42, 42);
  border-radius: 3px;
}

.first {
  background-color: var(--LightGray);
}

.textbox {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.f1t {
  font-family: 'Karla Medium 500', sans-serif;
  color: var(--cyan);
  font-weight: 700;
  margin: 1em 0;
}

.f2t {
  color: var(--yellow);
  text-shadow: 0 0 1px black;
}
.f3t {
  color: var(--GrayishBlue);
  margin: 1em 0;
}

.second {
  background: var(--darkcyan);
  
}

.s1t { 
  color: var(--LightGray);
  margin: 1em 0;
}

.s2t {
  color: var(--GrayishBlue);
  margin-bottom: 0.5em;
}

.s2t span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--LightGray);
}

.s3t {
  color: var(--LightGray);
}

.s4t {
  background-color: var(--yellow);
  color: var(--LightGray);
  text-decoration: none;
  border: none;
  display: inline-block;
  min-width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.alo {
  text-align: center;
  margin: 1em 0;
}

.third {
  background-color: var(--cyan);
}

.t1t {
  color: var(--LightGray);
  margin-bottom:.7em;
}

.t2t {
  color: var(--LightGray);
  font-weight: 100;
  font-size: small;
  line-height: 22px;
}

@media (min-width: 700px) {
  .component {
    max-width: 620px;
    display: grid;
    grid-template-columns:4fr 4fr; 
  }
  .first {
    grid-column-start: 1;
    grid-column-end: end;
  }
  .second {
    grid-row-start: 2;

  }
}