:root {
  --cyan: hsl(179, 62%, 43%);
  --darkcyan: hsl(187, 62%, 43%);
  --yellow: hsla(71, 73%, 54%, 0.493);

  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

*{
  box-sizing: border-box;
}

html,body, p {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 32px;
}

.smt {

}

.component {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  /* border: solid 1px rgb(114, 114, 114);
  border-radius: 4px; */
  box-shadow: 0px 0px 2px black;
  border-radius: 3px;
}

.first {
  background-color: var(--LightGray);
}

.firsttext {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.f1t {
  font-family: 'Karla Medium 500', sans-serif;
  color: var(--cyan);
  font-weight: 700;
}

.f2t {
  color: var(--yellow);
  text-shadow: 0 0 1px black;
}
.f3t {
  color: var(--GrayishBlue);
}

.second {
  background: var(--darkcyan);
  
}

.secondtext {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.s1t { 
  color: var(--LightGray);
}

.s2t {
  color: var(--GrayishBlue);
}

.s2t span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--LightGray);
}

.s3t {
  color: var(--LightGray);
}

.s4t {
  background-color: var(--yellow);
  color: var(--LightGray);
  text-decoration: none;
  border: none;
  display: inline-block;
  min-width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.alo {
  text-align: center;
  margin-top: 15px;
}

.third {
  background-color: var(--cyan);
}

.thirdtext {
  width: 90%;
  margin: 0 auto;
}

.t1t {
  color: var(--LightGray);

}

.t2t {
  color: var(--LightGray);
  font-weight: 100;
  font-size: small;
  width: 70%;
}



